<!-- src/app/features/auth/login/login.component.html -->
<mat-card class="login-card">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="flex flex-col" >
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Enter your email" />
      @if (loginForm.get('email')?.hasError('required')) {
        <mat-error>Email is required</mat-error>
      }
      @if (loginForm.get('email')?.hasError('email')) {
        <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Enter your password" />
      @if(loginForm.get('password')?.hasError('required')){
        <mat-error>Password is required</mat-error>
      }
      @if(loginForm.get('password')?.hasError('minlength')){
        <mat-error>
          Password must be at least 6 characters
        </mat-error>
      }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    <p class="redirect">Don't have an account? <a routerLink="/auth/signup">Sign up</a></p>
  </form>
</mat-card>

